/ProgrammingExercise3/nbproject/private/
/ProgrammingExercise3/build/
/ProgrammingExercise3/dist/
/Bank/nbproject/private/
/Bank/build/
/Bank/dist/
/programmingExercise1/target/
/JavaApplication3/nbproject/private/
/JavaApplication4/nbproject/private/
/JavaApplication4/build/
/programmingExercise2/target/
/Lecture2_Exercise1/nbproject/private/
/Lecture2_Exercise1/build/
/Lecture2_Exercise2/nbproject/private/
/Lecture2_Exercise2/build/
/TicTacToe/nbproject/private/
/TicTacToe/build/
/Lecture4/nbproject/private/
/Lecture4/build/
/Lecture3/nbproject/private/
/Lecture3/build/
/Lecture5/nbproject/private/
